.SideBarIssueComment {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SideBarIssueComment-avatar-gold {
    width: 45px;
    height: 15px;
    padding: 15px 0;
    margin-right: 20px;
    border-radius: 45px;
    background-color: #b9c7cc;
    text-align: center;
    color: white;
}

.SideBarIssueComment-avatar-blue {
    width: 45px;
    height: 15px;
    padding: 15px 0;
    margin-right: 20px;
    border-radius: 45px;
    background-color: #ccbcb9;
    text-align: center;
    color: white;
}

.SideBarIssueComment-new {
    width: calc(100% - 65px);
}

.SideBarIssueComment-new-input {
    width: 100%;
    font-family: Montserrat-Light, sans-serif;
    padding: 5px 10px;
    height: 30px;
    outline: none;
    border: none;
    -webkit-box-shadow: 7px 7px 28px 0 rgba(189,189,189,0.26);
    -moz-box-shadow: 7px 7px 28px 0 rgba(189,189,189,0.26);
    box-shadow: 7px 7px 28px 0 rgba(189,189,189,0.26);
    resize: none;
}

.SideBarIssueComment-new-input:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 10px rgba(252, 209, 48, 0.6);
}

.SideBarIssueComment-details {
    width: calc(100% - 65px);
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SideBarIssueComment-details-text {
    font-size: 12px;
}

.SideBarIssueComment-details-time {
    font-size: 10px;
    color: #747474;
}
