.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.timeline-shapes {
    display: flex;
    flex-direction: column;
}
.timeline-content::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f5f5f5 transparent transparent;
    content: '';
    position: absolute;
    bottom: 25px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline-progress-circ1 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fcd130;
}

.timeline-progress-line, .timeline-progress-line2 {
    position: relative;
    left: 0.5em;
    height: 2em;
    width: 0;
    border: solid 2px #d6d6d6;
    background-color: #d6d6d6;
}

.timeline-content {
    position: relative;
    left:2em;
    padding: 1em 2em;
    width: 400px;
    background-color: #f5f5f5;
    border-radius: 7px;
    margin: 10px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.timeline-content:hover {
    cursor: pointer;
}

.timeline-content:hover, .timeline-content:hover .fa  {
    background-color: #fcb130;
    color: #ffffff;
}

.timeline-content:hover::before {
    border-color: transparent #fcb130 transparent transparent;
}

.num-of-defects {
}

.defect-date {
    float: left;
}

.fa-wrench {
    color: #34495e;
}