.NavBar {
    background-color: #1d4886;
    color: white;
    height: 5%;
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat-Light', sans-serif;
}

.NavBar-flight {

}

.NavBar-flight:hover {
    cursor: pointer;
    color: #fcd130;
}

.NavBar-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.NavBar-logo {
    height: 40px;
    padding-left: 25px;
}

.NavBar-defects {
    padding: 0 25px;
}

.NavBar-defects:hover {
    color: #fcd130;
    cursor: pointer;
}

.NavBar-analytics {
    padding: 0 25px;
}

.NavBar-analytics:hover {
    color: #fcd130;
    cursor: pointer;
}


.NavBar-archive {
    padding: 0 25px;
}

.NavBar-archive:hover {
    color: #fcd130;
    cursor: pointer;
}
