.ArchivePage {
    font-family: 'Montserrat-Light', sans-serif;
    padding:0 20%;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #000;
}

.div-col-2 {
    width:16.7%;
    float:left;
}

.div-col-10 {
    width: 83.3%;
    float: left;
}

.archive-header + div > section {
    margin:0 !important;
}

.archive-header h1 {
    text-align: left;
    color: #1d4886;
}

.fa {
    font-size: 1.2em;
}
.fa-circle {
    color: #fcb130;
    position: relative;
    right: 25%;
    bottom: 7%;
    font-size: 1.7em;
}

ul li {
    list-style: none;
    line-height: 1.5em;
    text-align: left;
}

ul li > ul li {
    border-left: 6px solid #CCC;
}

ul li > ul li a {
    margin-left: 1em;
}

ul li > ul li:hover, ul li > ul li:hover a {
    font-weight:bold;
    color: #1d4886;
    border-color: #1d4886;
}

.timeline-nav ul li > ul li {
    margin-top: 0.3em
}

.timeline-list ul li {
    position: relative;
}

.timeline-year {
    margin-top: 2em;
}