.InputForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}


.InputNum {
    font-family: "Montserrat-Light", sans-serif;
    text-align: center;
    margin-top: -50px;
    margin-left: -40px;
}

.Input-input {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 20px;
    outline: none;
    border: solid 1px #565656;
    border-radius: 4px;
    width: 60%;
    margin: 10px;
}

.InputGroup {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.Input-input:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 10px rgba(252, 209, 48, 0.6);
}

.Input-input:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 10px rgba(252, 209, 48, 0.6);
}

.btnSubmit:hover {
    cursor: pointer;
}

.App {
    text-align: center;
    background-color: white;
}

.Defects {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Instructions {
    padding-bottom: 40px;
    text-align: center;
}

.SelectDefect {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat-Light', sans-serif;
}

.SelectDefect-1 {
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.SelectDefect-2 {
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.SelectDefect-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    background-color: #fcb130;
    padding: 15px;
}

.SelectDefect-button:hover {
    cursor: pointer;
    background-color: #1d4886;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.SelectDefect-button-clicked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline:none;
    font-size: 18px;
    color: white;
    background-color: #1d4886;
    padding: 15px;
}

.SelectDefect-button-clicked:hover {
    cursor: pointer;
}

.SelectDefect-button-unclicked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    border-radius: 10px;
    outline:none;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #fcb130;
    padding: 15px;
}

.SelectDefect-button-unclicked:hover {
    cursor: pointer;
    background-color: #1d4886;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.container {
    padding: 30% 0;
    margin: 0 30%;
}

.btnCrewSubmit {
    padding:1em 4em;
    border: none;
    background-color: #7f8c8d;
    color: #fff;
}

.btnCrewSubmit:hover {
    background-color: #464545;
    cursor: pointer;
}

.Input-input{
    line-height: 2em;
}