.InputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.InputNum {
    font-family: "Montserrat-Light", sans-serif;
    text-align: center;
    display: flex;
    margin-top: 20%;
    margin-left: 10%;
}

