.FlightPage {
    font-family: 'Montserrat-Light', sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.FlightPage-display {
    width: 75%;
    background-color: #f5f5f5;
}

.FlightPage-display-header {
    width: 100%;
    height: calc(5.36% + 20px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
}

.FlightPage-display-header-selected {
    height: 100%;
    width: 50%;
    background-color: #f5f5f5;
}

.FlightPage-display-header-unselected {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FlightPage-SideBar {
    width: 25%;
}

.FlightPage-Body {
    width: 100%;
}